
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AccessDeniedView</title>
</head>
<body>
    <div style="height:500px;">
        <div class="container6" color="white" style="background-color:#b80422;">
            <p style="text-align:center">
                Access to this application is restricted. <br />
                Please submit a GASR request stating the access you require.
            </p>
        </div>
        </div>
</body>
</html>
<style>
    div.container6 {
        height: 10em;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 300px 0 300px;
        margin-top: 100px;
        box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    }

        div.container6 p {
            margin: 0;
            font-size: large;
            color: white;
        }
</style>