<div class="btn btn-primary" style=" width:140px;">

  
    
    <input type="button" class="k-button k-primary" style="margin:5px;" value="Create New Request" 
           onclick="location.href='@Url.Action("Requests_Create","Request")' "/>
    

  
</div>



@(Html.Kendo().Grid<CML.Models.CMLRequest>()
      .Name("grid")
      .Columns(columns =>
      {
          columns.Bound( c => c.CMLNumber ).Width( 80 ).ClientTemplate( Html.ActionLink( "#=CMLNumber#", "Edit", "Request", new { id = "#=RequestID#" }, new { @class = "k-button k-primary" } ).ToHtmlString() ).Width(90);
      
          columns.Bound(c => c.Name).Width(300);
          columns.ForeignKey(l => l.StatusID, (System.Collections.IEnumerable)ViewData["statuses"], "ID", "Status")
            .Title("Status").Width(200);
          columns.ForeignKey(l => l.LocationID , (System.Collections.IEnumerable)ViewData["locations"], "LocationID", "Location")
            .Title("Location").Width(200);
          columns.ForeignKey(l => l.RequestTypeID, (System.Collections.IEnumerable)ViewData["request_types"], "ID", "RequestType")
            .Title("Request Type").Width(200);
          columns.Bound(c => c.CreatedOn).Format("{0:MM/dd/yyyy}");
          columns.Bound(c => c.DateRequired).Format("{0:MM/dd/yyyy}");

      })
      .ToolBar(toolbar => {

          toolbar.Excel();
      })
      .Editable(editable => editable.Mode(GridEditMode.PopUp))
      .ColumnMenu()
      .Groupable()
      .Pageable()
      .Navigatable()
      .Selectable(selectable => {
          selectable.Mode(GridSelectionMode.Single);
          selectable.Type(GridSelectionType.Row);
      })
      .Sortable(sortable => {
          sortable.SortMode(GridSortMode.MultipleColumn);
      })
      .Filterable()
      .DataSource(dataSource => dataSource
          .Ajax()
          .Model(model => model.Id(p=> p.RequestID))
          .Read(read => read.Action("Requests_Read", "Request"))
          .Group(g=> g.Add(model => model.StatusID))


      )
      )
<script>
    function CreateNew(e) {
        window.location.href = "Request/Requests_Create";
    }
    function showDetails(e) {
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        window.location.href = "Request/Edit?id=" + dataItem["RequestID"];

    }
    
</script>